# {{ name }} | {{ title }}

{% if location %}
{{ location }}
{% endif %}

{% if contact %}

## Contact Information

<table>

{% if contact.phone %} <tr><th>Phone</th><td> <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td></tr> {% endif %}

{% if contact.email %} <tr><th>Email</th><td> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td></tr> {% endif %}

{% if contact.website %} <tr><th>Website</th><td> <a href="{{ contact.website.url }}">{{ contact.website.text }}</a></td></tr> {% endif %}

{% if contact.linkedin %} <tr><th>LinkedIn</th><td> <a href="https://linkedin.com/in/{{ contact.linkedin.username }}">linkedin.com/in/{{ contact.linkedin.username }}</a></td></tr> {% endif %}

{% if contact.github %} <tr><th>GitHub</th><td> <a href="https://github.com/{{ contact.github.username }}">github.com/{{ contact.github.username }}</a></td></tr> {% endif %}

</table>
{% endif %}


## Professional Summary

{{ summary }}


{% if experience %}
## Work Experience

{% for job in experience %}
### {{ job.position }} | {{ job.company }}
*{{ job.start_date | format_date }} - {{ job.end_date | format_date }}{% if job.location %} | {{ job.location }}{% endif %}*

{{ job.description }}

{% if job.achievements %}
**Key Achievements:**
{% for achievement in job.achievements %}
- {{ achievement }}
{% endfor %}
{% endif %}

{% if job.technologies %}
**Technologies:** {{ job.technologies | join_list }}
{% endif %}


{% endfor %}
{% endif %}

{% if technical_skills %}
## Technical Skills

{% if technical_skills.programming_languages %}
**Programming Languages:** {{ technical_skills.programming_languages | map(attribute='name') | list | join_list }}
{% endif %}

{% if technical_skills.frameworks_libraries %}
**Frameworks & Libraries:** {{ technical_skills.frameworks_libraries | map(attribute='name') | list | join_list }}
{% endif %}

{% if technical_skills.databases %}
**Databases:** {{ technical_skills.databases | map(attribute='name') | list | join_list }}
{% endif %}

{% if technical_skills.cloud_platforms %}
**Cloud Platforms:** {{ technical_skills.cloud_platforms | map(attribute='name') | list | join_list }}
{% endif %}

{% if technical_skills.tools_technologies %}
**Tools & Technologies:** {{ technical_skills.tools_technologies | join_list }}
{% endif %}


{% endif %}

{% if education %}
## Education

{% for degree in education %}
### {{ degree.degree }} 

**{{ degree.institution }}** 
{% if degree.school %} | {{ degree.school }} {% endif %}
{% if degree.location %} | {{ degree.location }}{% endif %}  

<table>
<tr><th>Awarded</th><td>{{ degree.awarded | format_date }}</td></tr>
{% if degree.minor %}
<tr><th>Minor</th><td>{{ degree.minor }}</td></tr>
{% endif %}
{% if degree.gpa %}
<tr><th>GPA</th><td>{{ degree.gpa }}</td></tr>
{% endif %}
{% if degree.relevant_coursework %}
<tr><th>Coursework</th><td>{{ degree.relevant_coursework | join_list }}</td></tr>
{% endif %}
</table>

--- 
{% endfor %}
{% endif %}


{% if source_code %}
*Source Code: [{{ source_code }} ]({{ source_code }})*
{% endif %}